@model UserConsoleViewModel

@section title {
    <div class="row">
        <div class="col-7"><h3>User's Console</h3></div>
        <div class="col-2"><label for="user">User Email:</label></div>
        @User?.Identity?.Name
    </div>
}

<br />
<div class="row">
    <div class="col-4">
        <select id="SelectedCategoryId" asp-for="SelectedCategoryId" class="form-control">
            <option>Please Select a Category</option>
            @if (Model.Categories != null && Model.Categories.Count() > 0)
            {
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
        <br />
        <div id="booksPartial"></div>
        <br />
        <div id="bookDetailPartial"></div>
        <form method="post" asp-asp-controller="userConsole" asp-action="borrow" id="formBorrow">
            <input asp-for="SelectedBookId" type="hidden" />
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Borrow Book" />
            </div>
        </form>
    </div>
    <div class="col">
        @await Component.InvokeAsync("Transactions", "User1")
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#formBorrow").hide();

            var selectedCategoryId = $("#SelectedCategoryId").val();

            if(selectedCategoryId > 0){
                loadBooks(selectedCategoryId);
            }

            $("#SelectedCategoryId").change(function () {
                loadBooks($(this).val());
            });

            $("#booksPartial").on('click', '.book-row', function () {
                $('.book-row').removeClass('highlight');
                $(this).addClass('highlight');

                var bookId = $(this).attr('id');

                $("#bookDetailPartial").load("/UserConsole/SelectBookPartial", { bookId: bookId });

                if (bookId > 0) {

                    $("#SelectedBookId").val(bookId);
                    $("#formBorrow").show();
                } else {
                    $("#SelectedBookId").val("");
                    $("#formBorrow").hide();
                }
            });
        });

        function loadBooks(categoryId){
            $("#booksPartial").load("/UserConsole/BooksByCategoryPartial", { categoryId: categoryId });
            $("#bookDetailPartial").html("");
            $("#formBorrow").hide();
        }
    </script>
}
